<h1>All Posts</h1>

<ul><% @posts.each do |post| %>
  <li>
  	<div><%= image_tag post.avatar.url(:thumb) %></div>	
  	<div><%= post.description %></div>
    <div>User: <%= post.user.email %></div>
    <div><%= link_to "Go!", post.link %></div>
	  <ul>
		  
		    <%= render post.comments  %>
		    <li><%= render 'comments/form',
		    				comment: post.comments.build,
		    				post: post %></li>
		  
	  </ul>
  </li>
<% end %>
</ul>

<%= link_to "New Post", new_post_path %>
